.drawingBoard {
    border: 2px solid black;
    border-radius: 10px;
}

.pencilCursor {
    cursor: url('/src/assets/cursor/pencil.cur') 0 32, auto;
}

.fillCursor {
    cursor: url('/src/assets/cursor/fill.cur') 0 32, auto;
}

.defaultCursor {
    cursor: auto;
}


